@model TravelCoreProject.Areas.Member.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profile Edit Page</h1>
<form method="post" enctype="multipart/form-data">
    @Html.Label("Your Name")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("Your Surname")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Your Email")
    <input type="text" asp-for="email" class="form-control" />
    <br />
    @Html.Label("Your Password")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Password Again")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("Your Phone Number")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Choose Image</label>
        <input type="file" asp-for="Image" />
    </div>
    <br />
    <button class="btn btn-primary">Update</button>
</form>
